# 第1章 Python基础语法

## 库引入

In [1]:
import numpy

In [2]:
import tensorflow

In [3]:
import os

In [4]:
os.path.abspath('.')

'E:\\code\\github\\python-ai\\machinelearning51cto\\01_Python基础'

## Python之歌

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 字符串

In [6]:
str1 = "1 2 3 4 5"

In [7]:
str1.split() # 默认按照空格拆分

['1', '2', '3', '4', '5']

In [8]:
str2 = "1,2,3,4,5"

In [10]:
str2_list = str2.split(",")

In [11]:
str3 = ''
str3.join(str2_list)

'12345'

In [13]:
str4 = "hello python"
str4.replace("python", "world") # 不会影响原字符串，需要再赋值一下

'hello world'

In [14]:
str4

'hello python'

In [15]:
str5 = str4.replace("python", "world") # 不会影响原字符串，需要再赋值一下

In [16]:
str5

'hello world'

In [17]:
str5.upper() # 转大写

'HELLO WORLD'

In [18]:
str5.upper().lower() # 转小写

'hello world'

In [19]:
str6 = '   how old are you  '

In [21]:
str6.strip()

'how old are you'

In [22]:
str6.lstrip()

'how old are you  '

In [23]:
str6.rstrip()

'   how old are you'

In [24]:
'{} {} {}'.format('liang', 'shan', 'guang')

'liang shan guang'

In [25]:
'{2} {1} {0}'.format('liang', 'shan', 'guang')

'guang shan liang'

In [26]:
'{a} {b} {c}'.format(b='liang', c='shan', a='guang')

'guang liang shan'

In [27]:
name = 'liangshanguang'
b = 456.0
c = 789

In [28]:
result = "%s %f %d" % (name, b, c) # 格式化字符串

In [29]:
result

'liangshanguang 456.000000 789'

## List 列表

In [31]:
name_list = []

In [32]:
type(name_list)

list

In [33]:
name_list = [1,2,3,4]

In [34]:
name_list

[1, 2, 3, 4]

In [35]:
name_list = [1, '梁山广', 3.5]

In [36]:
name_list

[1, '梁山广', 3.5]

In [37]:
list1 = list([1,2,3])
list1

[1, 2, 3]

In [38]:
len(list1)

3

In [39]:
a = [123, 456]
b = ['liang', 'shan', 'guang']

In [40]:
a + b

[123, 456, 'liang', 'shan', 'guang']

In [41]:
type(a+b)

list

In [42]:
a*2 # 复制

[123, 456, 123, 456]

In [43]:
a*3

[123, 456, 123, 456, 123, 456]

In [44]:
a/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [45]:
a[0]

123

In [46]:
a[1]

456

In [47]:
(a+b)[1]

456

In [48]:
(a+b)[1:] # 索引取值

[456, 'liang', 'shan', 'guang']

In [49]:
a = [1,2,3,4,5,6,7,8,9]

In [50]:
a[4:7]

[5, 6, 7]

In [51]:
a[0]

1

In [52]:
del a[0]

In [53]:
a

[2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
del a[0]

In [55]:
a # 删除是真地从内存中删除

[3, 4, 5, 6, 7, 8, 9]

In [56]:
del a[:3]

In [57]:
a

[6, 7, 8, 9]

In [58]:
del a[2:]

In [59]:
a

[6, 7]

In [60]:
b = [1,2,3,4,5,6,7,8,9]

In [61]:
8 in b

True

In [62]:
10 in a

False

In [63]:
10 not in a

True

In [64]:
c = [1,2,[3,4]]

In [65]:
c

[1, 2, [3, 4]]

In [67]:
c[2]

[3, 4]

In [68]:
c[2][1]

4

In [69]:
list1 = ['a', 'b', 'c', 'd', 'm', 'c', 'e', 'c', 'c']

In [70]:
list1.count('c')

4

In [73]:
# 根据元素值返回其索引，多个地话返回第一次出现的位置的索引
list1.index('c')

2

In [74]:
del list1[2]

In [75]:
list1.index('c')

4

In [76]:
list1

['a', 'b', 'd', 'm', 'c', 'e', 'c', 'c']

In [78]:
list1.append([2,4])
list1

['a', 'b', 'd', 'm', 'c', 'e', 'c', 'c', [2, 4], [2, 4]]

In [79]:
list1.insert(2, [3.4, 7.8])
list1

['a', 'b', [3.4, 7.8], 'd', 'm', 'c', 'e', 'c', 'c', [2, 4], [2, 4]]

In [81]:
list1.remove('c') # 从列表中删除值为c的元素（一次去掉1个）

In [82]:
list1

['a', 'b', [3.4, 7.8], 'd', 'm', 'e', 'c', 'c', [2, 4], [2, 4]]

In [83]:
list1.pop(1) # 删除指定下标的元素

'b'

In [84]:
list1

['a', [3.4, 7.8], 'd', 'm', 'e', 'c', 'c', [2, 4], [2, 4]]

In [85]:
list2 = [3,2,6,4,7,8,5]

In [86]:
list2.sort()

In [87]:
list2

[2, 3, 4, 5, 6, 7, 8]

In [88]:
list3 = [3,2,6,4,7,8,5]

In [90]:
sorted(list2)

[2, 3, 4, 5, 6, 7, 8]

In [91]:
list2

[2, 3, 4, 5, 6, 7, 8]

In [92]:
list2.reverse()

In [93]:
list2

[8, 7, 6, 5, 4, 3, 2]

## dict 字典

In [95]:
dict1 = {}

In [96]:
type(dict1)

dict

In [97]:
dict2 = dict()
type(dict2)

dict

In [98]:
dict2['name'] = 'zhangsan'
dict2['age'] = 28
dict2['money'] = 2344.98

In [99]:
dict2

{'name': 'zhangsan', 'age': 28, 'money': 2344.98}

In [101]:
dict2['name']

'zhangsan'

In [102]:
dict2['age']

28

In [103]:
dict2['money']

2344.98

In [104]:
dict3 = {'name': 'Jack', 'age': 56, 'hometown': 'Shandong', 'save': 23.456}

In [105]:
dict3

{'name': 'Jack', 'age': 56, 'hometown': 'Shandong', 'save': 23.456}

In [106]:
del dict3['save']

In [107]:
dict3

{'name': 'Jack', 'age': 56, 'hometown': 'Shandong'}

In [108]:
person1 = {'name': 'Jack', 'age': 56}
person2 = {'age': 28, 'money': 78.456}

In [109]:
person1.update(person2)

In [110]:
person1

{'name': 'Jack', 'age': 28, 'money': 78.456}

In [111]:
'name' in person1 # 判断键是否在字典中

True

In [112]:
'hometown' in person1

False

In [113]:
dict3.keys()

dict_keys(['name', 'age', 'hometown'])

In [114]:
dict3.values()

dict_values(['Jack', 56, 'Shandong'])

## set集合
> 自动去重

In [115]:
list1 = [123,123,456,789]
set1 = set(list1)
set1

{123, 456, 789}

In [116]:
type(set1)

set

In [120]:
set2 = set([123,123,456,789,123,567])

In [121]:
set2

{123, 456, 567, 789}

In [122]:
a = {1,2,3,4}
b = {4,5,6,7}
a.union(b) # 并集

{1, 2, 3, 4, 5, 6, 7}

In [123]:
a|b # 并集

{1, 2, 3, 4, 5, 6, 7}

In [124]:
a.intersection(b) # 取交集

{4}

In [125]:
a & b # 取交集

{4}

In [126]:
a.difference(b) # 取差集

{1, 2, 3}

In [128]:
b.difference(a) # 取差集

{5, 6, 7}

In [129]:
a - b # 取差集

{1, 2, 3}

In [130]:
b - a # 取差集

{5, 6, 7}

In [131]:
c = {1,2,3,4,5,6}
d = {2,3,4}

In [132]:
d.issubset(c) # 是否为子集

True

In [133]:
c.issubset(d)

False

## 赋值机制

In [134]:
num1 = 1000
num2 = 1000

In [135]:
id(num1)

2721019396016

In [136]:
id(num2)

2721019395440

In [137]:
num3 = num2

In [138]:
id(num3) # 内存地址和num2一样了

2721019395440

In [139]:
num4 = 3

In [140]:
num5 = 3

In [141]:
id(num4)

140732413744000

In [142]:
id(num5)

140732413744000

## 函数

In [144]:
# 传不指定个数的参数
def add_num(a, *args):
    for i in args:
        a += i
    return a

In [146]:
add_num(1,2,3)

6

In [147]:
# 传不指定个数的键值对参数
def add_num2(a, **kargs):
    for key, val in kargs.items():
        print(key, val)

In [148]:
add_num2(1, x = 2, y = 3)

x 2
y 3

## 模块与包

### 写入到py文件中

In [149]:
%%writefile module_test.py
def add_nums(num_list):
    result = 0
    for i in range(len(num_list)):
        result += num_list[i]
    return result

Writing module_test.py

In [150]:
%%writefile module_test.py
def add_nums(num_list):
    result = 0
    for i in range(len(num_list)):
        result += num_list[i]
    return result
num_list = [1,2,3,4,5]
print(add_nums(num_list))

Overwriting module_test.py

### 执行自定义的py脚本

In [152]:
%run module_test.py

15

### 导入自定义的脚本

In [153]:
import module_test

15

In [154]:
module_test # 查看模块信息

In [157]:
num_list = [i for i in range(10)]

In [158]:
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [159]:
add_nums(num_list)

45

In [160]:
module_test.add_nums(num_list)

45

## 异常处理

In [161]:
import math

In [162]:
for i in range(10):
    input_num = input('write a number:')
    if input_num == 'q':
        break
    result = math.log(float(input_num))
    print(result)

write a number: 2

0.6931471805599453

write a number: 3

1.0986122886681098

write a number: 4

1.3862943611198906

write a number: -1

ValueError: math domain error

In [163]:
for i in range(10):
    try:
        input_num = input('write a number:')
        if input_num == 'q':
            break
        result = math.log(float(input_num))
        print(result)
    except ValueError:
        print("输入的值不合法")

write a number: 2

0.6931471805599453

write a number: -2

输入的值不合法

write a number: 3

1.0986122886681098

write a number: q

## 文件操作

In [164]:
%%writefile test.txt
hello python
123456
今天天气不错

Writing test.txt

In [178]:
txt = open('test.txt', encoding='utf-8')

In [172]:
txt_content

'hello python\n123456\n浠婂ぉ澶╂皵涓嶉敊\n'

In [173]:
txt_content = txt.read()

In [174]:
txt_content

'hello python\n123456\n今天天气不错\n'

In [175]:
print(txt_content)

hello python
123456
今天天气不错

In [179]:
lines = txt.readlines()

In [180]:
lines

['hello python\n', '123456\n', '今天天气不错\n']

In [181]:
type(lines)

list

In [182]:
txt.close() # 务必记住要关闭文件

In [186]:
txt_write = open('write_test', 'w', encoding='utf-8')
txt_write.write('sdefe\n')
txt_write.write('1234\n');
txt_write.write('123.45\n')
txt_write.close()

## 类

In [193]:
class Person:
    """帮助信息：人的类"""
    name = 'Jack'
    age = 78
    money = 34.34
    def __init__(self, name, age, money):
        self.name = name
        self.age = age
        self.money = money
        
    def display(self):
        print("name = ", self.name)
        print("age = ", self.age)
        print("money = ", self.money)

In [194]:
Person.__doc__

'帮助信息：人的类'

In [195]:
p1 = Person('张三', 30, 34.567)

In [196]:
p1.display()

name =  张三
age =  30
money =  34.567

In [197]:
p2 = Person('李四', 67, 3434.335454)

In [198]:
p2.display()

name =  李四
age =  67
money =  3434.335454

In [199]:
p1.name

'张三'

In [200]:
p2.name

'李四'

In [201]:
p1.name = '王五'

In [202]:
p1.display()

name =  王五
age =  30
money =  34.567

In [203]:
hasattr(p1, 'name') # 判断对象是否有属性

True

In [204]:
hasattr(p1, 'sex')

False

In [205]:
Person.__name__

'Person'

In [206]:
Person.__module__

'__main__'

In [207]:
Person.__base__

object

In [208]:
Person.__bases__

(object,)

In [209]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': '帮助信息：人的类',
              'name': 'Jack',
              'age': 78,
              'money': 34.34,
              '__init__': <function __main__.Person.__init__(self, name, age, money)>,
              'display': <function __main__.Person.display(self)>,
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>})

In [210]:
class Parent:
    num = 100
    def __init__(self):
        print("调用父类构造函数")
    def parentM(self):
        print("调用父类方法")
    def setAttr(self, attr):
        Parent.parentAttr = attr
    def getAttr(self):
        print("父类的一个属性：", Parent.parentAttr)

In [211]:
class Child(Parent):
    def __init__(self):
        print("调用子类构造函数")
    def childM(self):
        print("调用子类方法")

In [212]:
c = Child()

调用子类构造函数

In [213]:
c.childM()

调用子类方法

In [214]:
c.parentM()

调用父类方法

In [215]:
c.setAttr(100)

In [216]:
c.getAttr()

父类的一个属性： 100

## 时间

In [217]:
import time

In [219]:
print(time.time())

1584888343.6825526

In [224]:
print(time.localtime()) # 获取当前时间

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=22, tm_hour=22, tm_min=50, tm_sec=55, tm_wday=6, tm_yday=82, tm_isdst=0)

In [223]:
print(time.asctime()) # 获取当前时间

Sun Mar 22 22:50:48 2020

In [222]:
print(time.strftime("%Y-%m-%d %H:%M:%S"))

2020-03-22 22:50:16

In [225]:
import calendar

In [226]:
print(calendar.month(2020, 3)) # 打印日历

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [227]:
help(calendar.month)

Help on method formatmonth in module calendar:

formatmonth(theyear, themonth, w=0, l=0) method of calendar.TextCalendar instance
    Return a month's calendar string (multi-line).